/* No seu arquivo CSS */
.text-shadow-hero {
  /* Offset X | Offset Y | Blur | Cor */
  /* Um tom escuro para destacar sobre a cor amarela (text-ncc-yellow) */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.text-shadow-1 {
  /* Offset X | Offset Y | Blur | Cor */
  /* Um tom escuro para destacar sobre a cor amarela (text-ncc-yellow) */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}